# Movie Recomendation |Text Analysis| NLP


<h1 style="color:blue"> Developed By: Mrinmoyee Mondal</h1>


***
<center><img src=best-adventure-movie-recommendation-min.jpg alt="Drawing" style="width:600px;"/></center>

In [1]:
import pandas as pd
import numpy as np
title_df = pd.read_csv("credits.csv")
overview_df = pd.read_csv("movies.csv")

In [2]:
title_df.head(5)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [3]:
overview_df.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

### Shape of the datasets

In [4]:
print("title_df:",title_df.shape)
print("overview_df:",overview_df.shape)

title_df: (4803, 4)
overview_df: (4803, 20)

### Merging dataframe

In [5]:
title_df_renamed = title_df.rename(index=str,columns={"movie_id": "id"})
movies_merge = pd.merge(overview_df,title_df_renamed, on='id')
movies_merge.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

### shape of merged dataset

In [6]:
movies_merge.shape

(4803, 23)

### Droping the columns 'homepage', 'title_x', 'title_y', 'status','production_countries'

In [7]:
movies_cleaned = movies_merge.drop(columns=['homepage', 'title_x', 'title_y', 'status','production_countries'])
movies_cleaned.shape

(4803, 18)

In [8]:
movies_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   id                    4803 non-null   int64
 3   keywords              4803 non-null   object
 4   original_language     4803 non-null   object
 5   original_title        4803 non-null   object
 6   overview              4800 non-null   object
 7   popularity            4803 non-null   float64
 8   production_companies  4803 non-null   object
 9   release_date          4802 non-null   object
 10  revenue               4803 non-null   int64
 11  runtime               4801 non-null   float64
 12  spoken_languages      4803 non-null   object
 13  tagline               3959 non-null   object
 14  vote_average          4803 non-null   float64
 15  vote_count            4803 non-null   int64
 16  cast                  4803 non-null   object
 17  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(11)
memory usage: 712.9+ KB

In [9]:
movies_cleaned.head(1)

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,release_date,revenue,runtime,spoken_languages,tagline,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Enter the World of Pandora.,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

### Overview column

In [10]:
movies_cleaned['overview']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4798    El Mariachi just wants to play his guitar and ...
4799    A newlywed couple's honeymoon is upended by th...
4800    "Signed, Sealed, Delivered" introduces a dedic...
4801    When ambitious New York attorney Sam is sent t...
4802    Ever since the second grade when he first saw ...
Name: overview, Length: 4803, dtype: object

### Import Tf-idf: Term frequency-Inverse document frequency for text analysis

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfv = TfidfVectorizer(min_df=3,  max_features=None,strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',ngram_range=(1, 3),stop_words = 'english')
# Fitting the TF-IDF on the 'overview' text
tfv_matrix = tfv.fit_transform(movies_cleaned['overview'].values.astype(str))
print(tfv_matrix)
print(tfv_matrix.shape)

  (0, 148)	0.3091311403250014
  (0, 1670)	0.2781519888709605
  (0, 431)	0.2108476222845202
  (0, 7056)	0.26867652924731417
  (0, 6448)	0.25667782792456906
  (0, 3582)	0.21788257757629861
  (0, 9394)	0.24144219475319859
  (0, 5907)	0.17992707015426695
  (0, 9718)	0.24435395917916744
  (0, 6544)	0.2959108637414298
  (0, 5972)	0.2747332388389473
  (0, 2634)	0.2818968058308858
  (0, 5658)	0.2610479764815685
  (0, 1514)	0.20118856027389756
  (0, 147)	0.3091311403250014
  (1, 1810)	0.36793229072333994
  (1, 7160)	0.3031029042939378
  (1, 2916)	0.30082125582474917
  (1, 9610)	0.3355175975086389
  (1, 2848)	0.21556897928560054
  (1, 2872)	0.3232482593626707
  (1, 4205)	0.30803003793564465
  (1, 5263)	0.1333016217342793
  (1, 1806)	0.2104623271234315
  (1, 2318)	0.21892404835497967
  :	:
  (4802, 671)	0.15980375315748296
  (4802, 2360)	0.15010502652571864
  (4802, 677)	0.1348896650905315
  (4802, 3736)	0.14859055527694667
  (4802, 3480)	0.14340155530934393
  (4802, 1252)	0.1517317799962251
  (4802, 8138)	0.12006983014875616
  (4802, 2754)	0.11415766885192152
  (4802, 6990)	0.12818619387415678
  (4802, 3238)	0.16238922347130244
  (4802, 5303)	0.14458839172229582
  (4802, 1224)	0.28917678344459163
  (4802, 8495)	0.09380149874507987
  (4802, 10328)	0.09392244189669113
  (4802, 120)	0.13337519384175953
  (4802, 9584)	0.10877695477061998
  (4802, 9066)	0.08442386567407605
  (4802, 2837)	0.14227560971626285
  (4802, 6367)	0.07950988341697732
  (4802, 10322)	0.08349947113256301
  (4802, 10344)	0.1235202307747275
  (4802, 6190)	0.0660620349546619
  (4802, 5155)	0.10830486933954035
  (4802, 10339)	0.08047421680114124
  (4802, 7726)	0.16629792872798219
(4803, 10418)

### Using Sigmoid Kernel function on tvf_matrix

In [12]:
from sklearn.metrics.pairwise import sigmoid_kernel

sig_ker = sigmoid_kernel(tfv_matrix, tfv_matrix)
sig_ker

array([[0.76163447, 0.76159416, 0.76159416, ..., 0.76159416, 0.76159416,
        0.76159416],
       [0.76159416, 0.76163447, 0.76159416, ..., 0.76159513, 0.76159416,
        0.76159416],
       [0.76159416, 0.76159416, 0.76163447, ..., 0.76159486, 0.76159416,
        0.76159455],
       ...,
       [0.76159416, 0.76159513, 0.76159486, ..., 0.76163447, 0.76159483,
        0.76159473],
       [0.76159416, 0.76159416, 0.76159416, ..., 0.76159483, 0.76163447,
        0.76159461],
       [0.76159416, 0.76159416, 0.76159455, ..., 0.76159473, 0.76159461,
        0.76163447]])

### Building a series reversing indices and movie titles

In [13]:
indices = pd.Series(movies_cleaned.index, index=movies_cleaned['original_title']).drop_duplicates()
indices

original_title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

In [14]:
indices.shape

(4803,)

In [15]:
print(indices['John Carter'])

4

In [16]:
print(sig_ker[4])

[0.76159416 0.76159579 0.76159442 ... 0.76159463 0.76159416 0.7615949 ]

In [17]:
len(sig_ker[4])

4803

### Make a list using Sigmoid kernel on the indices

In [ ]:
#sig_list=list(enumerate(sig_ker[indices['John Carter']]))
#sig_list

### Short the list

In [ ]:
 #sorted(sig_list, key=lambda x: x[1], reverse=True)

### Defining function for movie recomendation

In [18]:
def recomended_movie(title, sig=sig_ker):
    # The index corresponding to original_title
    index = indices[title]
    # The pairwsie similarity scores
    sig_scores = list(enumerate(sig[index]))

    # Sort the movies
    sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)

    # Scores of the 10 most similar movies
    sig_scores = sig_scores[1:11]

    # Movie indices
    movie_indices = [i[0] for i in sig_scores]

    # Top 10 most similar movies
    return movies_cleaned['original_title'].iloc[movie_indices]

In [19]:
recomended_movie('Spider-Man 3')

30                        Spider-Man 2
20              The Amazing Spider-Man
159                         Spider-Man
38            The Amazing Spider-Man 2
1534                     Arachnophobia
1318                         The Thing
4144            The Lady from Shanghai
4664                           Bronson
413     Nutty Professor II: The Klumps
4276                         Def-Con 4
Name: original_title, dtype: object

### Thank you